<div class="container">
  <h2 *ngIf="hotels && hotels.length > 0">{{ title }}</h2>

  <button class="btn btn-primary d-flex" (click)="toggleNewBadge()">
    <span class="material-icons">
      {{ showBadge? 'visibility_off' : 'visibility'}}
    </span>
    <span class="ms-2">
      {{ showBadge ? 'Cacher' : 'Afficher'}} nouveau
    </span>
  </button>

  <div class="my-2">
    <div class="row">
      <div class="col-md-4">
        <span class="filter">Filtre actuel: </span>
        <b>{{ hotelFilter }}</b>
      </div>
      <div class="col-md-8 form-group" >
        <input type="text" class="from-control" [(ngModel)]="hotelFilter" >
        <!-- <input type="text" class="from-control" [ngModel]="hotelFilter" (ngModelChange)="hotelFilter = $event"> -->
      </div>
    </div>
  </div>

  <div class="alert alert-primary" *ngIf="!!myReceivedRating">
    {{myReceivedRating}}
  </div>


  <div class="row row-cols-1 row-cols-md-3">
    <div *ngFor="let hotel of filteredHotels"  class="col mb-4">
      <div   class="card">
        <img class="card-img-top" [src]="hotel.imageUrl" [title]="hotel.hotelName" alt="{{hotel.hotelName}} image">
        <div class="card-body">
          <h5 class="card-title">{{hotel.hotelName | uppercase}}</h5>
          <p class="card-text">{{hotel.description}}</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          <p class="card-text">{{hotel.price | currency : 'EUR' : 'symbol' : '1.2-2' : 'fr' | replaceComma}}</p>

          <div class="d-flex justify-content-between align-items-baseline">
            <app-star-rating [rating]="hotel.rating" (starRatingClicked)="receivedRating($event)"></app-star-rating>
            <span class="material-icons bg-primary text-wite p-2 rounded-circle btn"
              [routerLink]="['/hotels',hotel.id,'edit']">
              edit
            </span>
            <span class="material-icons bg-info text-wite p-2 rounded-circle btn"
              [routerLink]="['/hotels',hotel.id]" >
              keyboard_arrow_right
            </span>
          </div>
          <ng-container *ngFor="let tag of hotel.tags; let i = index">
            <span *ngIf="showBadge" class="badge rounded-pill  me-2" [ngClass]="i%2 === 0 ? 'bg-info' :'bg-success'">{{tag}}</span>
          </ng-container>

        </div>
      </div>
    </div>
  </div>
</div>
